# Aswas Application configuration

#
# Ebay Variables:
#
devName|adosandbox
devPass|ado72org
ruName|Alliances_Dot_O-ALLIANCESDJ791F-exfgbgu

devID|A79E928S7H5CZGA1947HKB8NJQ16U8
appID|ALLIANCESDJ791FF45XB7IC1TATE4K
certID|K53423716K4$251C32GS4-I6UA91DZ
siteID|0
ebay_version|519

serverUrl|https://api.sandbox.ebay.com/ws/api.dll
signinURL|https://signin.sandbox.ebay.com/ws/eBayISAPI.dll

testToken|AgAAAA**AQAAAA**aAAAAA**ED8DRg**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wFk4CnCpSGowydj6x9nY+seQ**pacAAA**AAMAAA**Rf4khOgyINicMVonL/tK8mLF6Y1U9aUFzvWxr09mNh4h5ce7L9RdpXk+E6ZtsferedRLLAw8EdDijvjDyIq+kW5iN5nT/rlmFArP2kqFV66iTaaBJD7TLMbmAD1tS2mXiGhDOTBGGfuvo4i6zRPrT52DVaqlaeS/UJW2ZcpYR9YvnSCW1FAR3WP7Xlf6EIbdCPOJFTsH6hGtZKB4qeiIk4AGgRHuGH52cLpo0fqfsH5AJR8uF09SUzKOQs2/Y5ZwEWEmIskamWAgI4DdOc8JrZi3PQUKYHsIX/X0xmoY0gtNyv9pBiVEQ5Y8QbHxroZdCAbmQZwfN0cCiETTlSabRJjgMORZiSzDRejVR8jLUH1WiPWlEor/3ozEglZEVELOXjm56rwqxpQFp+dpiIXoJX+P5Sj3JQf4aFtEwpYDLjL+GzWrVDuMS9ez+kXyrgGB7LVJqIaOuTf2zDatriX1uJPWOYEfyOqNqtx12STsBwoxSNblPkWCjKLZ3c/c/hUjphwANe4T1MhDx+WSfuaUFu2UGqPd0d9bY2duYaVWQ8EWpFG19JS8B+XRstkin+5SoAzcM6wIo7CyyINga/VZJT/ryQ3DqFCvDwXC05Ol4WG7ghjX5I+I21O+KnyJas52cjzglrrJdCOvee6xTr5JTUZFZhlWrTXregVAHmlP+ZLliUf4f6Y77S8eICRKmyMqZoQV7P5Pw+23FB20n+MFG5H33jcRj5bIeWWsARH4wBNqnq4niVbeaHVwlPEJC4mr

DatabaseDriver|PG_DBWrapper
DatabaseServer|db

paypalAccount|eric_1187924029_biz@alliances.org
paypalURL|https://www.sandbox.paypal.com/cgi-bin/webscr

paypalInvoiceLink|https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_xclick&business=eric_1187924029_biz%40alliances%2eorg&item_name=As%20Was%20Invoice%20For%20<_ITEM_NAME_MONTH_>%20<_YEAR_>&item_number=<_ITEM_NUMBER_>&amount=<_AMOUNT_>&no_shipping=1&return=http%3a%2f%2fdev%2eshopandbuzz%2ecom%3a8081%2fpayments%2fpmt_thank_you%2ephp&cancel_return=http%3a%2f%2fdev%2eshopandbuzz%2ecom%3a8081%2fpayments%2fcancel_payment%2ephp&no_note=1&currency_code=USD&lc=US&bn=PP%2dBuyNowBF&charset=UTF%2d8

IndexPageMessage|Remember that you have to have your eBay Sandbox account ready to use before you signup with S&B!<br>Visit the eBay Sandbox at <a href="https://sandbox.ebay.com/">https://sandbox.ebay.com/</a>

SellerFeedbackCheck|0

