# Aswas Application configuration

#
# Ebay Variables:
#
devName|alliances1
devPass|g0Ebay11
ruName|Alliances_Dot_O-Alliance-a1f5-4-gjmkkxyy

devID|A79E928S7H5CZGA1947HKB8NJQ16U8
appID|Alliance-a1f5-4b73-816e-721872cab7a6
certID|6c6adf0f-fd46-4833-a0a2-119a14fd1b0f
siteID|0
ebay_version|519

serverUrl|https://api.ebay.com/ws/api.dll
signinURL|https://signin.ebay.com/ws/eBayISAPI.dll

testToken|AgAAAA**AQAAAA**aAAAAA**F++vRg**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wClYCjCZOCoQidj6x9nY+seQ**ujsAAA**AAMAAA**9o3/WALyMhq0s7Y05pCt44Qj3vEir86yL4Nns+uEn1iMKB3hIQLypLlhuOSC2GJHQkjdEcrOcmlNj5CwU9WuKeOSekxIcLJJbKFIHk6bwzEkkL843AYLYejE5kK+EXtBdRcy69Wg2oDFOKoATDsWROjubIWzFY/EMfzz8f4FqRTtyClT0k40ymVb3VrQ0B2DfWFikGl8eqTMP8XimqwQt4rvhaiRR6eIwCt6Wv+A5PCheBjZ53zgtVM5eyR7Gr9ojWdK2OdLeCafdKGFgAFs+8oYTjiKRjZX3bpbNPMfJVCLWXhbNOkjaTliGN6c860oFuse3yJEFTpF1wkU8IjO7vXGLGm4sL1UhbGCpTSUqS6yP/13S6Dq7o/zirjdUOo4axQWt3tYbWi8W6oFOUX7pPjlZSaKZGuzsJGCl+OLWDqeDGisjbOhlj3yiGshoi/xfOztcbWE5OABDCikv0uQK/zGrfu4S58qYHQqZJHtSSGNKShCx0GVZleR9BDW7PBfpJa41iydj2/SPQvuBaGiE7tFjtbatdC85g7nCEEskh+oyLmZUTKbV6V3b6v+m90Y6OOYp/3Zpax8kBUg2g33QrbAz1hm7qMP/SgSyJD4Qik/OHdRqU8iwOW57DOOH3oWegW9+9NgYvZFx/smo4mXTGFLSr7eAjQ17+V9SOgiF3CIY4YwnjZEewRBbb4WUf6uHTp/vnkR4uz40lGqk4k5urcKDBiwurAGF/gmrgz7h8TOkgqSgD8myAiKByAEaqQx

RestToken|Rc4PT3jJkXE%3D**GyM8SzSuz72aEMvEEjUrD7DRn04%3D

DatabaseDriver|PG_DBWrapper
DatabaseServer|db

paypalAccount|sales@shopandbuzz.com
paypalURL|https://www.paypal.com/cgi-bin/webscr

paypalInvoiceLink|https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&business=sales%40shopandbuzz%2ecom&item_name=As%20Was%20Invoice%20For%20<_ITEM_NAME_MONTH_>%20<_YEAR_>&item_number=<_ITEM_NUMBER_>&amount==$amount&no_shipping=1&return=http%3a%2f%2fwww%2eshopandbuzz%2ecom%2fpayments%2fpmt_thank_you%2ephp&cancel_return=http%3a%2f%2fhttp%3a%2f%2fwww%2eshopandbuzz%2ecom%2fpayments%2fcancel_payment%2ephp&no_note=1&currency_code=USD&lc=US&bn=PP%2dBuyNowBF&charset=UTF%2d8

#IndexPageMessage|Shop And Buzz is a web site designed to enhance your buying and selling experiences on eBay.  You must have an active eBay account in good standing to register with and use Shop And Buzz.  Sign up for an eBay account at <a href="http://ebay.com/">http://ebay.com/</a>

SellerFeedbackCheck|1
