DebugLevel|0
#
Title|GeoNet Monitor
AuthClass|ACFApplAuthenticate
URLDir|/geonetmonitor
#
SuperAdminAccessLevel|30
AdminAccessLevel|20
UserAccessLevel|10
InternalUserAccessLevel|7
CustomerAccessLevel|1
#
gotoPage|/geonetmonitor/colorBlock.php
#
LookupFields|array("firstname"=>"givenname", "middlename"=>"initials", "lastname"=>"sn", "email"=>"mail", "phoneno" => "telephonenumber", "mobile" => "mobile")
NameDB|GeoNet
NameTable|users
NameID|id
NameFirst|firstname
NameLast|lastname
NameEmail|email
#
SecurityLevelTable|security_levels
SecurityLevelID|id
SecurityLevelLabel|name
#
# the height and width of the squares on the map in pixels
pointWidth|9
pointHeight|9
#
# lat-long of Blaine,WA and Leisure City, FL
LONG_BLAINE|122.758148
LONG_LEISURECITY|80.43645
LAT_BLAINE|48.989123
LAT_LEISURECITY|25.49365
#
# x & y value of pixel of the 2 same cities on the map
Y_BLAINE|14
X_BLAINE|36
Y_LEISURECITY|470
X_LEISURECITY|690
#
usMapImage|images/goodusa.png
greatestTimeScriptNotRunning|300
#
# constants for the history page
graphImageName|graphics.png
graphWidth|720
graphHeight|220
graphOffSet|20
heightYGridInPixel|32
textSpacingY|15
textSpacingX|5
textFont|3
textGraphAxeFont|2
imagesFolder|images/
#
overviewRefreshTime|30
standardRefreshTime|300
#
# the location and name of the file that will contain the report
reportName|report
#
# constraints on the PMs
maxWOPR|-9
minWOPR|-26
maxLPR|-3
minLPR|-12
diffWOPR|1
diffLPR|1
#
# for ldap to get the acf2id
BindAnonymous|no
#
# maximum nb of minutes that we can't connect to an element
# before raising a red flag
maxCantConnectMinutes|30

CMC_Driver|DSN_CMC
CMC_User|Whiteboard
CMC_Pass|Whiteboard1

TEAMS_Driver|TEAMSREP
TEAMS_User|ssoreport
TEAMS_Pass|k2v13a

AlcatelProtocol|AlcatelTL1

primusURL|http://tsr-web.oss.sprint.com/eserverweb/default/eServerLoginBypass.asp

## logarithmic values are displayed on the graph in the history page
logarithm|logBase10
inverse_logarithm|inverse_logBase10

# used to know if we should use TRS instead of TEAMS to get the unscheduled tickets
use_SSTAT|1

TRShost|datrsp02.corp.sprint.com
TRSsid|P1TRS01
TRSusername|fshatat
TRSpassword|howdy

# For Collector/Submittor Architecture
SubmittorPort|16565
SubmittorHost|geonet.oss.sprint.com

RequestorPort|15565
RequestorHost|geonet.oss.sprint.com

scheduledMaintenanceReportToEmail|marie.s.roux@mail.sprint.com;eric.l.helvey@mail.sprint.com
htmlReportURL|/GeoNetMonitor/report/

DisplayTNT|1
MonitorLightLevels|0

# Basic Counts
PMs|CV,ES,SES,UAS


#TL1 Constants
TL1_Timeout|5
TL1_Port|2300
TL1_Prompt|/[;| ]/
TL1_User|CONFIG
TL1_Password|NTAC!88
TL1_EndOfCommand|COMPLD


########## Types for GeoNet History
HistoryClass1|Alcatel1640WMHistory
HistoryClass2|CienaMWSentry4000History
HistoryClass3|CienaMWSentry4000History
HistoryClass4|CienaMWSentry4000History
HistoryClass5|Alcatel1640WMHistory
HistoryClass6|ASX4000History
HistoryClass11|CircuitLevelHistory
HistoryClass17|CienaMWSentry4000History
HistoryClass19|CienaMWSentry4000History
HistoryClass26|CienaMWSentry4000History
HistoryClass33|CienaMWSentry4000History
HistoryClass35|CienaMWSentry4000History
HistoryClass43|CienaMWSentry4000History
HistoryClass49|CienaMWSentry4000History
HistoryClass50|CienaMWSentry4000History
HistoryClass51|CienaMWSentry4000History
HistoryClass52|CienaMWSentry4000History
HistoryClass53|LowSpeedHistory
HistoryClass54|LowSpeedHistory
HistoryClass55|LowSpeedHistory
HistoryClass56|LowSpeedHistory
HistoryClass57|LowSpeedHistory

########## GeoWatchDog Configs.
CollectorCustomerExclude|12
DaysOfHistoryToKeep|7

Collector_Timeout|600
Collector_CycleTime|300
StartingNumOfCollectors|120

EchoStar_Timeout|600
EchoStar_CycleTime|60

Submittor_Timeout|60
Submittor_CycleTime|1

Requestor_Timeout|60
Requestor_CycleTime|1

DBhost|
DBUserName|geonet
DBPassword|tenoeg
PHPAuthFile|/work/WADappl/Projects/GeoNet/htdocs/auth.inc
#
reportPath|/work/WADappl/Projects/GeoNet/htdocs/report/
htmlReportFolder|/work/WADappl/Projects/GeoNet/htdocs/report/
EmailTemplateDir|/work/WADappl/Projects/GeoNet/scheduled/EmailTemplates

LogDir|/work/WADappl/Projects/GeoNet/scheduled/logs

Collector_TaskView|ps -ef | grep DWDM_DataCollector.pl | grep -v grep | sed "s/[0-9][0-9]:[0-9][0-9]:[0-9][0-9]/0 0/" | sed "s/  */ /g" | cut -d " " -f 3,12
Collector_TaskName|/usr/bin/perl /work/WADappl/Projects/GeoNet/scheduled/DWDM_DataCollector.pl

EchoStar_TaskView|ps -e -o args | grep DWDM_DataCollectorCustomer.pl | grep -v grep | wc -l
EchoStar_TaskName|/usr/bin/perl /work/WADappl/Projects/GeoNet/scheduled/DWDM_DataCollector.pl 20

Submittor_TaskView|ps -e -o args | grep Submittor.pl | grep -v grep | wc -l
Submittor_TaskName|/usr/bin/perl /work/WADappl/Projects/GeoNet/scheduled/DWDM_DataSubmittor.pl

Requestor_TaskView|ps -e -o args | grep Requestor.pl | grep -v grep | wc -l
Requestor_TaskName|/usr/bin/perl /work/WADappl/Projects/GeoNet/scheduled/DWDM_DataRequestor.pl

Nuke_TaskView|ps -e -o pid -o args | grep nuke_history.pl | grep -v grep
Nuke_TaskName|/usr/bin/perl /work/WADappl/Projects/GeoNet/scheduled/nuke_history.pl

HK_TaskView|ps -e -o pid -o args | grep house_keeping.pl | grep -v grep
HK_TaskName|/usr/bin/perl /work/WADappl/Projects/GeoNet/scheduled/house_keeping.pl

TrapReceiver_TaskView|ps -e -o args | grep TrapReceiver.pl | grep -v grep | wc -l
TrapReceiver_TaskName|/usr/bin/perl /work/WADappl/Projects/GeoNet/scheduled/TrapReceiver.pl

TracePathURL|http://172.19.67.142/floor/tracePath/webInterface/Echostar/directAccess.pl?Customer=Echostar&Page=tracePath.pl&Connection=
TracePathMainURL|http://172.19.67.142/floor/tracePath/webInterface/Echostar/main.pl
